{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Новый пациент</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
            <br><a href="{{ url_for('main.list_patients') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span> 
                Назад к списку пациентов</a>
        </div>
    </div>
{% endblock %}