{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row">
      <div class="col-md-3">
      </div>
        <div class="col-md-6">
          <h1>Добавить

            {% if type_checkin == 'first' %}
              {% print("первый") %}
            {% elif type_checkin == 'second' %}
              {% print("второй") %}
            {% elif type_checkin == 'vkk' %}
              {% print("третий") %}
            {% endif %}

            совместный осмотр</h1>

          <p>
            <strong>Пациент:</strong> {{ sicklist.patient.last_name + " " + sicklist.patient.first_name + " " + sicklist.patient.middle_name }}<br>
            <strong>б/л №:</strong> {{ sicklist.sick_list_number }} <strong>открыт:</strong> {{ moment(sicklist.start_date).format('L') }}<br>
            <strong>Лечащий врач:</strong> {{ sicklist.doctor.last_name + " " + sicklist.doctor.first_name + " " + sicklist.doctor.middle_name }}<br>
            <strong>Диагноз:</strong> {{ sicklist.diacrisis.diagnoses }}
          </p>

          {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
          <br>

          <a href="{{ url_for('main.index') }}" class="btn btn-primary">
              <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
              Назад к списку больничных</a>
        </div>
      <div class="col-md-3">
      </div>
    </div>
{% endblock %}