{% extends "layout.html" %}

{% block app_content %}
    <h1>Сотрудник: {{ employe.last_name + " " + employe.first_name + " " + employe.middle_name }}</h1>
    <hr>
    <p>
        <b>Должность:</b> {{ employe.job_title }}<br>
    </p>    
    <p><a href="{{ url_for('main.edit_employe', id = employe.id) }}">Редактировать информацию о сотруднике</a></p>

    <h3>Больничные листы</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>№ б/л</th>
                <th>Пациент</th>
                <th>б/л открыт</th>
                <th>Статус б/л</th>
                <th>Диагноз</th>
                <th>б/л закрыт</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                <td>
                    <a href="{{ url_for('main.edit_list', id=list.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ list.sick_list_number }}</td>
                <td>{{ list.patient.last_name + " " + list.patient.first_name + " " + list.patient.middle_name }}</td>
                <td>{{ list.start_date }}</td>
                <td>
                    {% if list.status == 'open' %}
                    открыт
                    {% elif list.status == 'end' %}
                    закрыт
                    {% elif list.status == 'relocated' %}
                    переведен
                    {% endif %}
                </td>
                <td>{{ list.diacrisis }}</td>
                <td>
                    {% if list.end_date %}
                    {{ list.end_date }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}