{% extends "layout.html" %}

{% block app_content %}
    <h1>График совместных осмотров</h1>
    <p><a href="#">Добавить больничный лист</a></p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>№ б/л</th>
                <th>Пациент (ФИО)</th>
                <th>Доктор</th>
                <th>б/л открыт</th>
                <th>Статус б/л</th>
                <th>Диагноз</th>
                <th>Совместный осмотр</th>
            </tr>
        </thead>
        <tbody>
            {% for list in sicklists %}
            <tr>
                <td>{{ Lists.sick_list_number }}</td>
                <td>{{ Lists.patient }}</td>
                <td>{{ Lists.doctor }}</td>
                <td>{{ Lists.start_date }}</td>
                <td>{{ Lists.status }}</td>
                <td>{{ Lists.diacrisis }}</td>
                <td>{{ Lists.end_date }}</td>
            </tr>
            {% endfor %}
            <tr class="success">
                <td>0001</td>
                <td>Иванов</td>
                <td>Самойлов В.Я</td>
                <td>2018-07-17</td>
                <td>открыт</td>
                <td>Пневмония</td>
                <td>2018-08-03</td>
            </tr>
            <tr class="success">
                <td>0002</td>
                <td>Петров</td>
                <td>Самойлов В.Я.</td>
                <td>2018-07-16</td>
                <td>закрыт</td>
                <td>ОРЗ</td>
                <td>2018-08-02</td>
            </tr>
            <tr>
                <td>0003</td>
                <td>Сидоров</td>
                <td>Рабинович А.С.</td>
                <td>2018-07-17</td>
                <td>переведен</td>
                <td>А хрен его знает</td>
                <td>2018-08-03</td>
            </tr>
            <tr class="danger">
                <td>0004</td>
                <td>Николсон Джек</td>
                <td>Булгаков М.И.</td>
                <td>2018-07-17</td>
                <td>открыт</td>
                <td>Перелом</td>
                <td>2018-08-03</td>
            </tr>
        </tbody>
    </table>
{% endblock %}