{% extends "layout.html" %}

{% block app_content %}
    <h1>График совместных осмотров</h1>
    <p><a href="{{ url_for('add_sicklist') }}">Добавить больничный лист</a></p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>№ б/л</th>
                <th>Пациент (ФИО)</th>
                <th>Доктор</th>
                <th>б/л открыт</th>
                <th>Статус б/л</th>
                <th>Диагноз</th>
                <th>Совместный осмотр</th>
            </tr>
        </thead>
        <tbody>
            {% for list in sicklists %}
            <tr>
                <td>
                    <a href="{{ url_for('edit_list', id=list.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ list.sick_list_number }}</td>
                <td>
                    <a href="{{ url_for('patient', id = list.patient.id) }}">
                    {{ list.patient.last_name + " " + list.patient.first_name + " " + list.patient.middle_name }}
                    </a>
                </td>
                <td>{{ list.doctor.last_name + " " + list.doctor.first_name + " " + list.doctor.middle_name }}</td>
                <td>{{ list.start_date }}</td>
                <td>
                    {% if list.status == 'open' %}
                    открыт
                    {% elif list.status == 'end' %}
                    закрыт
                    {% elif list.status == 'relocated' %}
                    переведен
                    {% endif %}
                </td>
                <td>{{ list.diacrisis }}</td>
                <td>
                    {% if list.end_date %}
                    {{ list.end_date }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}