{% extends "layout.html" %}

{% block app_content %}
    <h1>{{ header }}</h1>
    <p><a href="{{ url_for('add_sicklist') }}">Добавить больничный лист</a></p>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2" style="vertical-align: middle">№ б/л</th>
                <th rowspan="2" style="vertical-align: middle">б/л открыт</th>
                <th rowspan="2" style="vertical-align: middle">Пациент (ФИО)</th>
                <th rowspan="2" style="vertical-align: middle">Доктор</th>
                <th rowspan="2" style="vertical-align: middle">Диагноз</th>
                <th>1-й СО план</th>
                <th>2-й СО план</th>
                <th>ВКК план</th>
                <th rowspan="2" style="vertical-align: middle">Статус б/л</th>
                <th rowspan="2" style="vertical-align: middle">б/л закрыт</th>
            </tr>
			<tr>
				<th>1-й СО факт</th>                
				<th>2-й СО факт</th>                
				<th>ВКК факт</th>                
            </tr>
        </thead>
        <tbody>
            {% for list in sicklists %}
            <tr>
                <td rowspan="2">
                    <a href="{{ url_for('edit_list', id=list.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td rowspan="2">{{ list.sick_list_number }}</td>
                <td rowspan="2">{{ moment(list.start_date).format('L') }}</td>
                <td rowspan="2">
                    <a href="{{ url_for('patient', id = list.patient.id) }}">
                    {{ list.patient.last_name + " " + list.patient.first_name + " " + list.patient.middle_name }}
                    </a>
                </td>
                <td rowspan="2">
                    <a href="{{ url_for('employe', id = list.doctor.id) }}">
                    {{ list.doctor.last_name + " " + list.doctor.first_name + " " + list.doctor.middle_name }}
                    </a>
                </td>
                <td rowspan="2">{{ list.diacrisis }}</td>

                <td {% if today == list.first_checkin %} class="success" {% endif %}>
                {{ moment(list.first_checkin).format('L') }}</td>

                <td {% if today == list.second_checkin %} class="success" {% endif %}>
                {{ moment(list.second_checkin).format('L') }}</td>

                <td {% if today == list.vkk %} class="success" {% endif %}>
                {{ moment(list.vkk).format('L') }}</td>

                <td rowspan="2">
                    {% if list.status == 'open' %}
                    открыт
                    {% elif list.status == 'end' %}
                    закрыт
                    {% elif list.status == 'relocated' %}
                    переведен
                    {% endif %}
                </td>                
                <td rowspan="2">
                    {% if list.end_date %}
                    {{ list.end_date }}
                    {% endif %}
                </td>
            </tr>
			<tr>
				<td>
                    {% if not list.first_checkin_fact %}
                    <a href="{{ url_for('add_checkin', id=list.id, type='first') }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('edit_checkin', id=list.id, type='first') }}">
                        {{ moment(list.first_checkin_fact).format('L') }}</a>
                    {% endif %}
                </td>
				<td>
                    {% if not list.second_checkin_fact %}
                    <a href="{{ url_for('add_checkin', id=list.id, type='second') }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('edit_checkin', id=list.id, type='second') }}">
                        {{ moment(list.second_checkin_fact).format('L') }}</a>
                    {% endif %}
                </td>
				<td>
                    {% if not list.vkk_checkin_fact %}
                    <a href="{{ url_for('add_checkin', id=list.id, type='vkk') }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('edit_checkin', id=list.id, type='vkk') }}">
                        {{ moment(list.vkk_checkin_fact).format('L') }}</a>
                    {% endif %}
                </td>
			</tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}