{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Совместные осмотры{% else %}Совместные осмотры{% endif %}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img alt="Adastra" src="{{ url_for('static', filename='img/logo.jpg') }}">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 
                        Сегодня</a></li>
                    <li><a href="{{ url_for('all') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
                        Все б/л</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
                            Справочники <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('list_employes') }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                                Сотрудники</a></li>
                            <li><a href="{{ url_for('list_patients') }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                                Пациенты</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('list_holidays') }}">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
                                Календарь</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 
                        Войти</a></li>
                    {% else %}
                        {% if  current_user.username == 'Admin' %}
                        <li><a href="{{ url_for('list_users') }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                                Пользователи</a></li>
                        {% endif %}
                    <li><a href="{{ url_for('logout') }}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 
                        Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }}
{% endblock %}