{% extends "layout.html" %}

{% block app_content %}
    <h1>Справочник пациентов</h1>
    <p><a href="{{ url_for('main.add_patient') }}">Добавить пациента</a></p>
    <table id="dataTable" class="table table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Ф.И.О.</th>
                <th>Дата рождения</th>
                <th>Пол</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td><a href="{{ url_for('main.edit_patient', id = patient.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('main.patient', id = patient.id) }}">
                    {{ patient.last_name }} {{ patient.first_name }} {{ patient.middle_name }}
                    </a>
                </td>
                <td>{{ moment(patient.birth_year).format('L') }}</td>
                <td>
                    {% if not patient.sex %}
                    мужской
                    {% else %}
                    женский
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $('#dataTable').DataTable({
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Все"]],
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        language: {
            url: "{{ url_for('static', filename='js/Russian.json') }}"
        }
      });
    } );
  </script>
{% endblock %}
