{% extends "layout.html" %}

{% block app_content %}
    <h1>Пациент: {{ patient.last_name + " " + patient.first_name + " " + patient.middle_name }}</h1>    
    <hr>
    <p>
        <b>Год рождения:</b> {{ patient.birth_year }}<br>
        <b>Пол:</b> {% if patient.sex == 'man' %}мужской{% else %}женский{% endif %}<br>
    </p>    
    <p><a href="{{ url_for('edit_patient', id = patient.id) }}">Редактировать информацию о пациенте</a></p>
    <h3>Больничные листы</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>№ б/л</th>
                <th>Доктор</th>
                <th>б/л открыт</th>
                <th>Статус б/л</th>
                <th>Диагноз</th>
                <th>Совместный осмотр</th>
            </tr>
        </thead>
        <tbody>
            {% for list in patient.sick_lists %}
            <tr>
                <td>
                    <a href="{{ url_for('edit_list', id=list.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ list.sick_list_number }}</td>
                <td>{{ list.doctor.last_name + " " + list.doctor.first_name + " " + list.doctor.middle_name }}</td>
                <td>{{ list.start_date }}</td>
                <td>
                    {% if list.status == 'open' %}
                    открыт
                    {% elif list.status == 'end' %}
                    закрыт
                    {% elif list.status == 'relocated' %}
                    переведен
                    {% endif %}
                </td>
                <td>{{ list.diacrisis }}</td>
                <td>
                    {% if list.end_date %}
                    {{ list.end_date }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}