{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>Отметка о сканировании карточки</h1>
            {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
            <br>
            <a href="{{ url_for('main.all') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                Назад к списку больничных</a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}